@page "{Table?}/{category?}/{Product?}"
@model BestellenModel
@using System.Text.RegularExpressions;

@{
    if (Model.SelectedTableID != null)
    {
    Response.Cookies.Append("SelectedTable", Model.SelectedTableID);  //Cookies yum, yum!
    }

    if (Model.SelectedTableID == null) //Wanneer Model.Table niet is ingesteld crasht de site omdat Regex resultString NULL doorgeeft aan GET
    {
        Model.SelectedTableID = "0"; //Er moet een getal in de omschrijving staan, het getal 0 wordt NIET gebruikt als TableID (autoincrement is al voorbij TableID 1)
    }
}

<div class="row col-12">
    @{
    if(Model.Request.Cookies["SelectedTable"] != null || Model.SelectedTableID != "0"){
    <span class="text-black form-text">Gekozen tafel, tafel @Model.Request.Cookies["SelectedTable"] @Model.SelectedTableID</span>
    }
   else if(Model.Request.Cookies["SelectedTable"] == null){ 
       <form method="post" action="">
        <label for="tafelSelectie">Selecteer uw tafel</label>
        <select id="TafelKiezen" asp-for="SelectedTableID">
            <option value="">Selecteer tafel</option> 
            @foreach(var tafel in Model.TableList)
            {
                <option value="@tafel.TableID">Tafel @tafel.TableID</option>}
            }
        </select>
        <button type="submit">Bevestig tafel</button>
    </form>    
    }
    }
                <div class="container">
                    <div class="row">

                        @*Categorieën*@
                        <div class="col-sm">

                            <ul class="list-group">

                                @foreach(var category in Model.Categories)
                                    {
                                        <a class="list-group-item @((category.Name == Model.Category ? "active" : ""))" asp-route-category="@category.Name">@category.Name</a>
                                    }
                            </ul>
                        </div>

                        @*Producten*@
                        <div class="col-sm" style="max-height:400px;overflow:hidden;overflow-y:auto;">
                            <ul class="list-group">

                    @foreach(var category in Model.Categories)
                    {
                        if (category.Name == Model.Category)
                        {
                            foreach (var product in category.Products)
                            {
                                <form method="post">
                                    <button class="list-group-item list-group-item-action d-flex justify-content-between align-content-center" asp-page-handler="Add" asp-route-table="@Request.Cookies["SelectedTable"]" asp-route-product="@product.Name">
                                        @product.Name
                                        <div class ="my-auto">
                                            <svg class="float-end bi bi-plus-circle-fill" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                                                <path class="" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z" />
                                            </svg>
                                        </div>
                                    </button>
                                    <input type="hidden" name="Amount" value="1">
                                    <input type="hidden" name="ProductID" value="@product.ProductId">
                                    <input type="hidden" name="TableID" value="@Regex.Match(Model.SelectedTableID, @"\d+")">
                                </form>
                            }
                        }                                
                     }

                            </ul>
                        </div>

                        @*winkelmandje*@
                        <div>

                            <table class="table table-striped">

                                <thead>
                                    <tr>
                                        <th scope="col">Product</th>
                                        <th scope="col">Aantal</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>

                                <tbody>
                        @foreach (var order in Model.Orders)
                        {
                            <tr>
                                <td>
                                    @order.ProductName
                                </td>
                                    <td>
                                        <div class="d-flex flex-row">
                                                <form  
                                                    asp-page-handler="Remove1" method="post"> @*knop om 1 product uit de bestelling te halen*@                        
                                                        <button class="btn p-0 m-0">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash-circle" viewBox="0 0 16 16">
                                                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                                                <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z" />
                                                            </svg>
                                                        </button>
                                                            <input type="hidden" name="Amount" value="@order.Amount">
                                                            <input type="hidden" name="ProductID" value="@order.ProductID">
                                                            <input type="hidden" name="TableID" value="@order.TableID">
                                                </form>

                                                <span class="px-2 pt-1">@order.Amount</span>
                                        
                                                <form asp-page-handler="Add" method="post"> @*knop om 1 product toe te voegen*@
                                                    <button class="btn p-0 m-0">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                                                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                                                        </svg>
                                                    </button>
                                                        <input type="hidden" name="Amount" value="@order.Amount">
                                                        <input type="hidden" name="ProductID" value="@order.ProductID">
                                                        <input type="hidden" name="TableID" value="@order.TableID">
                                                </form>
                                            </div>

                                        </td>

                                    <td>
                                        <form asp-page-handler="RemoveAll" method="post"> @*knop om alles van 1 product uit de bestelling te verwijderen*@
                                            <button class="btn p-0 m-0">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                                    <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" />
                                                </svg>
                                            </button>
                                                <input type="hidden" name="Amount" value="@order.Amount">
                                                <input type="hidden" name="ProductID" value="@order.ProductID">
                                                <input type="hidden" name="TableID" value="@order.TableID">
                                        </form>
                                    </td>
                            </tr>
                        }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
</div>











