@page
@model WebdevProjectStarterTemplate.Pages.OverzichtModel
@{
    if (Model.SelectedTableID != null)
    {
        Response.Cookies.Append("SelectedTable", Model.SelectedTableID);  //Cookies yum, yum!
    }

    if (Model.SelectedTableID == null) //Wanneer Model.Table niet is ingesteld crasht de site omdat Regex resultString NULL doorgeeft aan GET
    {
        Model.SelectedTableID = Request.Cookies["SelectedTable"]; //Er moet een getal in de omschrijving staan, het getal 0 wordt NIET gebruikt als TableID (autoincrement is al voorbij TableID 1)
    }
}
 @{
    if (Model.Request.Cookies["SelectedTable"] != null || Model.SelectedTableID != "0")
    {
        <span class="text-black form-text">Gekozen tafel, tafel @Request.Cookies["SelectedTable"]</span>
    }
    }

@*winkelmandje*@
<div>

    <table class="table table-striped">

        <thead>
            <tr>
                <th scope="col">Product</th>
                <th scope="col">Aantal</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var order in Model.OrdersList)
            {
                <tr>
                    <td>
                        @order.Name
                    </td>
                    <td>
                        <div class="d-flex flex-row">
                            <form asp-page-handler="Remove1" method="post">
                                @*knop om 1 product uit de bestelling te halen*@
                                <button class="btn p-0 m-0">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash-circle" viewBox="0 0 16 16">
                                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                        <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z" />
                                    </svg>
                                </button>
                                <input type="hidden" name="Amount" value="@order.Amount">
                                <input type="hidden" name="ProductID" value="@order.ProductID">
                                <input type="hidden" name="TableID" value="@order.TableID">
                            </form>

                            <span class="px-2 pt-1">@order.Amount</span>

                            <form asp-page-handler="Add" method="post">
                                @*knop om 1 product toe te voegen*@
                                <button class="btn p-0 m-0">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                                    </svg>
                                </button>
                                <input type="hidden" name="Amount" value="@order.Amount">
                                <input type="hidden" name="ProductID" value="@order.ProductID">
                                <input type="hidden" name="TableID" value="@order.TableID">
                            </form>
                        </div>

                    </td>

                    <td>
                        <form asp-page-handler="RemoveAll" method="post">
                            @*knop om alles van 1 product uit de bestelling te verwijderen*@
                            <button class="btn p-0 m-0">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                    <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" />
                                </svg>
                            </button>
                            <input type="hidden" name="Amount" value="@order.Amount">
                            <input type="hidden" name="ProductID" value="@order.ProductID">
                            <input type="hidden" name="TableID" value="@order.TableID">
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="d-flex justify-content-end">
    <a type="button" class="m-1 btn btn-primary" asp-page="/AllesBetalen">Alles Betalen</a>
    <a type="button" class="m-1 btn btn-primary" asp-page="/PerPersoonBetalen">Per persoon betalen</a>

</div>
